<div class="mb-2">
    <form>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="nombre-search">Nombre</label>
                <input type="text" class="form-control" id="nombre-search" placeholder="Nombre" [(ngModel)]="juego.nombre" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-3">
                <label for="plataforma">Plataforma</label>
                <select class="form-control" id="plataforma-search" [(ngModel)]="juego.plataforma" [ngModelOptions]="{standalone: true}">
                    <option></option>
                    <option value="Xbox 360">Xbox 360</option>
                    <option value="Xbox One">Xbox One</option>
                    <option value="PC">PC</option>
                    <option value="Play Station">Play Station</option>
                    <option value="Wii">Wii</option>
                    <option value="Nintendo Switch">Nintendo Switch</option>
                    <option value="Play Station 5">Play Station 5</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="stock-search">Stock</label>
                <input type="number" class="form-control" id="stock-search" placeholder="Stock" [(ngModel)]="juego.stock" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-3">
                <label for="formato-search">Formato</label>
                <input type="text" class="form-control" id="formato-search" placeholder="Formato" [(ngModel)]="juego.formato" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
    </form>
    <div class="row mt-2">
        <div class="col-6">
            <button class="btn btn-outline-warning my-2 my-sm-0 mr-2" type="button"
                id="btn-clear" (click)="listar()">Restablecer</button>
        </div>
        <div class="col-6">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button" id="btn-search"
                (click)="buscarAtributos()">Buscar</button>
        </div>
    </div>
</div>
<div class="mb-2">
    <div class="col-6">
        <button class="btn btn-primary my-2 my-sm-0" type="button" id="btn-add" (click)="crear()">Agregar</button>
    </div>
</div>

<table class="table">
    <thead class="bg-light">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Plataforma</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Formato</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let j of juegos">
        <tr>
            <td>{{ j.id }}</td>
            <td>{{ j.nombre }}</td>
            <td>{{ j.plataforma }}</td>
            <td>{{ j.precio | currency }}</td>
            <td>{{ j.stock }}</td>
            <td>{{ j.formato }}</td>
            <td>
                <button type="button" class="btn btn-outline-success" (click)="editar(j.id!)">Editar</button>
                <button type="button" class="btn btn-outline-danger" (click)="eliminar(j.id!)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>